imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: fr

framework:
    #esi: ~
    translator: { fallbacks: ['%locale%'] }
    secret: '%secret%'
    router:
        resource: '%kernel.root_dir%/config/routing.yml'
        strict_requirements: ~
    form: ~
    csrf_protection: ~
    validation: { enable_annotations: true }
    #serializer: { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale: '%locale%'
    trusted_hosts: ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id: ~
    fragments: ~
    http_method_override: true

# Twig Configuration
twig:
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'

# Doctrine Configuration
doctrine:
    dbal:
        driver: pdo_mysql
        host: '%database_host%'
        port: '%database_port%'
        dbname: '%database_name%'
        user: '%database_user%'
        password: '%database_password%'
        charset: UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: '%kernel.root_dir%/data/data.db3'
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #path: '%database_path%'

    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: '%mailer_transport%'
    host: '%mailer_host%'
    username: '%mailer_user%'
    password: '%mailer_password%'
    spool: { type: memory }
    
fos_user:
    db_driver: orm
    firewall_name: main
    user_class: AppBundle\Entity\User
    group:
        group_class: AppBundle\Entity\Group   
        form:
            type: app_group_registration
    registration:
        form:
            type: app_user_registration
        confirmation:
                enabled: true
                template: FOSUserBundle:Registration:email.txt.twig
                # handler: app.form.handler.registration
    change_password:
        form:
            type: fos_user_change_password
    
    # from_email: 
        # address:     assou.mohcine@gmail.com
        # sender_name:    webmaster
    # resetting:
        # email:
             # from_email: 
                # address: resetting@exemple.com
                # sender_name: Demo Resetting

             # email:
                # template: email/password_resetting.email.twig
easy_admin:
    site_name: 'Dashboard'        
    design:
        brand_color: '#1ABC9C'
        color_scheme: 'dark'
        form_theme: 'horizontal'
        menu: 
            - { entity: 'User', icon: 'user'}
            - { entity: 'Group', icon: 'user'}
            - { label: 'Déconnexion', route : 'fos_user_security_logout', icon: 'remove'}
            # - { entity: 'News', icon: 'paperclip'}
            # - { entity: 'Category', icon: 'folder-open'}
            # - { entity: 'Product', icon: 'gift'}
    entities:    
        User:
            class: AppBundle\Entity\User
            label: 'Users'
            # form:
                # fields:
                    # - username
                    # - email
                    # - enabled
                    # - name
                    # if administrators are allowed to edit users' passwords and roles, add this:
                    # - { property: 'plainPassword', type: 'text', type_options: { required: false } }
                    # - { property: 'roles', type: 'choice', type_options: { multiple: true, choices: { 'ROLE_CLIENT': 'Client', 'ROLE_USER': 'Utilisateur', 'ROLE_ADMIN': 'Administrateur' } } }
                    # - { property: 'groups',label: 'Groupes', type:'entity', type_options: { multiple:true, class:'AppBundle\Entity\Group' } }
            list:
                actions: 
                    - { name: 'show', icon: 'list', label: 'lister'}
                    - { name: 'edit', icon: 'pencil', label: 'Modifier'}
                    - { name: 'delete', icon: 'remove', label: 'Supprimer'}
                title: "Liste des %%entity_label%%"
                # max_results: 3                
                fields: [ 'username','email','name','roles','groups',{property: 'enabled', label:'Activer',css_class:'text-center'}]
                    # - {property:'groups', label:'Groupes'}
            new:
                title: "News %%entity_id%%"
                fields:
                    - { property: 'username', label:'Login'}
                    - { property: 'email', label:'Email',type: 'email'}
                    - { property: 'name', label:'Nom'}
                    - { property: 'roles', type: 'choice', type_options: { multiple: true, choices: { 'ROLE_CLIENT': 'Client', 'ROLE_USER': 'Utilisateur', 'ROLE_ADMIN': 'Administrateur' } } }
                    - { property: 'groups',label: 'Groupes', type:'entity', type_options: { multiple:true, class:'AppBundle\Entity\Group' } }
                    - { property: 'plainPassword', type:'password',label:'Mot de passe',type_options: { required: true }}
                    - { property: 'confirmationToken',type:'password', label:'Confirmation mot de passe',type_options: { required: true }}
                form_options: { validation_groups: ['registration']}
                    
                    
            show: 
                title: "News %%entity_id%%"
                # help: "help message for show action"
        Group:
            class: AppBundle\Entity\Group
            label: 'Groupes'
            form:
                fields:
                    - { property: 'name',label: 'Nom du groupe'}
                    - { property: 'roles', label:'Rôles',type: 'choice', type_options: { multiple: true, choices: { 'ROLE_CLIENT':'ROLE_USER', 'ROLE_USER': 'ROLE_USER', 'ROLE_ADMIN': 'ROLE_ADMIN' } } }

            list:
                actions: 
                    - { name: 'show', icon: 'list', label: 'lister'}
                    - { name: 'edit', icon: 'pencil', label: 'Modifier'}
                    - { name: 'delete', icon: 'remove', label: 'Supprimer'}
                title: "Liste des %%entity_label%%"
                fields: [{property: 'name', label:'Nom du groupe'}]
            show: 
                title: "News %%entity_id%%"
                